<p id="notice"><%= notice %></p>

<h1 class="jumbotron text-center">Listing Cars</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Brand</th>
      <th>Model</th>
      <th>Fiscal power</th>
      <th>Vehicle type</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.brand %></td>
        <td><%= car.model %></td>
        <td><%= car.fiscal_power %></td>
        <td><%= car.vehicle_type %></td>
        <td><%= car.users_id %></td>
        <td><%= link_to 'Show', car %> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></td>
        <td><%= link_to 'Edit', edit_car_path(car) %> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="text-center">
<%= link_to 'New Car', new_car_path %>
</div>
